<div class="col-md-12">
  <div class="media">
      <div class="media-body">
        <div class="form-group input-group">
          <input class="form-control new item" placeholder="Enter your next task">
          <%-# text_field :item, class: 'form-control new-item', placeholder: "Enter your next task" -%>
          <span class="input-group-btn"><%= link_to "Add Task", "#", class: 'btn btn-success' %></span>
        </div>
      </div>
    </div>  
</div>