<br><br>
<div class="jumbotron">
  <h1>Blocitoff To-Do List</h1>
</div>
<div class='new-item'>
  <%= render partial: 'items/form' %>
</div>

<div class="col-md-12 js-items">
  <%= render @user.items %>
</div>
<br><br>