<% if @item.destroyed? %>
  $('#item-<%= @item.id %>').fadeOut(300);
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>