// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



input.form-control{
  width: 100%;
}

.js-items{
  margin-bottom: 50px;
}

a.glyphicon{
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px dashed #cccccc;
  text-decoration: none;
  color: #cccccc;
}

a.glyphicon:hover, a.glyphicon:visited, a.glyphicon:active, a.glyphicon:link {
  text-decoration: none;
  color: #cccccc;
}

a.glyphicon:hover{
  color: #41D88C;
}

.input-group-btn .btn-success{
  // background-color: #;
}